/* Write CSS code here */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background: rgb(255, 255, 255);
    height: 100vh;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation-content {
    background-color: gold;
    font-size: 30px;
    color: white;
    align-content: flex-start;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.stopwatch-container {
    text-align: center;
    background-color: bl;
}
#stopwatch {
    font-size: 50px;
    margin-bottom:  20px;
    color: white;
    border: 5px solid white;
    padding: 20px;
    background-color: black;
}
button {
    cursor: pointer;
    padding: 15px;
    color: white;
    background: gold;
    font-weight: 600;
    font-size: large;
    margin: 5px;
}
button:hover {
    background-color: white;
    color: gold;
}